@import 'tailwindcss';
@plugin "tailwindcss-animate";
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
/* 上面坚决不要动！ */
@layer base {
    :root {
        /* 颜色 */
        --background: #ffffff;
        --card: #f9fafb;
        --border: oklch(0.92 0.00 0);
        /*圆角*/
        --radius: 12px;
        /* 不常用尺寸 */
        --version-tag: #fafafa;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            /* 颜色 */
            --background: oklch(14.5% 0 0);
            --card: oklch(20.5% 0 0);
            --border: oklch(100% 0 0/.1);
            /* 不常用尺寸 */
            --version-tag: #0a0a0a;
        }
    }
    * {
        @apply border-gray-200;
    }
    body {
        @apply bg-white;
    }
}

@layer utilities {
    .max-w-md-1k {
        max-width: 1111px;
    }
    .text-balance {
        text-wrap: balance;
    }
    .flex-col {
        display: flex;
        flex-direction: column;
    }
    .bg-background {
        background-color: var(--background);
    }
    .bg-card {
        background-color: var(--card);
    }
    .border{
        border-color: var(--border);
    }
}

@layer components {
    .normal-table--p {
        font-size: 18px;
    }
    .projectlist {
        display: grid;
        width: 60%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .projectlist #list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 0.5rem;
    }
    .projectlist-card {
        display: grid;
        grid-template-columns: 10% 1fr;
        align-items: center;
        cursor: pointer;
        padding: 1.2rem 1rem;
        padding-right: 1.4rem;
    }
    .projectlist-nav {
        flex-wrap: wrap;
    }
    .projectlist-nav p {
        padding: 1.5rem 1rem;
        text-align: left;
    }
    .projectlist-content {
        flex-direction: column;
        color: azure;
    }
    .projectlist-classify {
        width: 12%;
        padding: 1rem 0.5rem;
    }
    .projectlist-version-tag {
        font-size: 12px;
        color: var(--version-tag);
        border: 1px solid var(--version-tag);
        padding: 0.1rem 0.4rem;
        border-radius: 6px;
    }
}
