@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin "tailwindcss-animate";
/* 上面坚决不要动！ */
@theme {
    --color-trans: oklch(0.97 0 0);
}
@layer base {
    :root {
        /* 颜色 */
        --color-black: oklch(0.97 0 0);
        --bg-bottom: #d2d2d2;
        --background: #ffffff;
        --text: oklch(0.14 0 0);
        --text-content: oklch(0.37 0 0);
        --card: #f9fafb;
        --tw-border-style: oklch(0.92 0 0);
        --border: oklch(0.92 0 0);
        --border-style: oklch(0.92 0 0);
        --datail-background: oklch(0.556 0 0);
        /*圆角*/
        --radius: 12px;
        /* 不常用尺寸 */
        --version-tag: #fafafa;
    }
    /* 媒体查询自动模式（默认） */
    @media (prefers-color-scheme: dark) {
        :root:not(.manual-light):not(.manual-dark) {
            /* 颜色 */
            --color-black: oklch(0.145 0 0);
            --bg-bottom: #00000000;
            --background: oklch(0.145 0 0);
            --text: oklch(1 0 0);
            --text-content: oklch(0.8 0 0);
            --card: oklch(0.205 0 0);
            --tw-border-style: oklch(0.44 0 0);
            --border: oklch(0.44 0 0);
            --border-style: oklch(0.44 0 0);
            --datail-background: oklch(0.708 0 0);
            --version-tag: #0a0a0a;
        }
    }

    /* 手动模式class支持 */
    .manual-dark {
        --color-black: oklch(0.145 0 0);
        --bg-bottom: #00000000;
        --background: oklch(0.145 0 0);
        --text: oklch(1 0 0);
        --card: oklch(0.205 0 0);
        --tw-border-style: oklch(0.44 0 0);
        --border: oklch(0.44 0 0);
        --border-style: oklch(0.44 0 0);
        --datail-background: oklch(0.708 0 0);
        --version-tag: #0a0a0a;
    }
    .manual-light {
        --color-black: oklch(0.97 0 0);
        --background: #ffffff;
        --text: oklch(0.14 0 0);
        --card: #f9fafb;
        --tw-border-style: oklch(0.92 0 0);
        --border: oklch(0.92 0 0);
        --border-style: oklch(0.92 0 0);
        --datail-background: oklch(0.556 0 0);
        --version-tag: #fafafa;
    }
    .manual-dark * {
        border-color: oklch(0.44 0 0);
    }
    .manual-light * {
        border-color: oklch(0.92 0 0);
    }

    * {
        @apply border-gray-200;
    }
    body {
        background-color: var(--background);
        color: var(--text);
    }
    .card {
        /* rounded-lg border bg-card text-card-foreground shadow-sm */
        border-radius: var(--radius);
        border: 1px solid var(--border-style);
        background-color: var(--card);
    }
    .text-datail {
        color: var(--datail-background);
    }
    body::before {
        --size: 45px;
        --line: color-mix(in hsl, canvasText, transparent 80%);
        content: '';
        height: 100vh;
        width: 100vw;
        position: fixed;
        /* background:
            linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size))
                calc(var(--size) * 0.36) 50% / var(--size) var(--size),
            linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0%
                calc(var(--size) * 0.32) / var(--size) var(--size); */
        background: var(--bg-bottom);
        mask: linear-gradient(180deg, transparent 60%, white);
        top: 0;
        transform-style: flat;
        pointer-events: none;
        z-index: 2;
    }
}

@layer utilities {
    .bg-auto {
        background: var(--color-red-400);
    }
    .max-w-md-1k {
        max-width: 1111px;
    }
    .text-balance {
        text-wrap: balance;
    }
    /* Test styles for theme */
    .theme-test-bg {
        @apply bg-white dark:bg-gray-800;
    }
    .theme-test-text {
        @apply text-gray-900 dark:text-white;
    }
    .flex-col {
        display: flex;
        flex-direction: column;
    }
    .bg-background {
        background-color: var(--background);
    }
    .bg-card {
        background-color: var(--card);
    }
    .border-radius {
        border-radius: var(--radius);
    }
    .border {
        border-color: var(--border);
    }
    .grid-cols-main {
        grid-template-columns: 15% auto 15%;
    }
    .text-content {
        color: var(--text-content);
    }
}

@layer components {
    .normal-table--p {
        font-size: 18px;
    }
    .projectlist {
        display: grid;
        grid-template-columns: 15% auto 15%;
        gap: 1rem;
        max-width: 1111px;
        margin: auto;
        padding: 1rem;
        align-items: start;
    }
    .projectlist-content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 0.5rem;
        border-radius: var(--radius);
    }
    .projectlist-content #card {
        display: grid;
        grid-template-columns: 10% 1fr;
        align-items: center;
        cursor: pointer;
        padding: 1.2rem 1rem;
        padding-right: 1.4rem;
        border-radius: var(--radius);
        transition: all 0.2s ease-in-out;
        border: 1px solid var(--border-style);
    }
    #card:hover {
        border: 1px solid var(--border-style);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
    .projectlist-nav {
        flex-wrap: wrap;
    }
    .projectlist-nav p {
        padding: 1.5rem 1rem;
        text-align: left;
    }

    .projectlist-classify {
        display: flex;
        flex-direction: column;
        padding: 1rem 0.5rem;
        position: sticky;
        top: 4rem;
    }
    .projectlist-about {
        width: 100%;
        padding: 10px;
        position: sticky;
        top: 4rem;
    }
    .projectlist-version-tag {
        font-size: 12px;
        color: var(--version-tag);
        border: 1px solid var(--version-tag);
        padding: 0.1rem 0.4rem;
        border-radius: 6px;
    }
    .classify--items {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
    .classify--items > div {
        display: flex;
        gap: 0.5rem;
        padding: 0.2rem 0.4rem;
        min-width: 50%;
        align-items: center;
    }
    .classify--items div:hover {
        background-color: var(--border);
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
    .classify--items > div:hover p svg path,
    .classify--items > div:hover span {
        color: oklch(0.52 0.09 223);
        fill: oklch(0.52 0.09 223);
    }
    .classify--items > div p svg path {
        fill: #afafaf; /* 默认灰色 */
        transition: fill 0.3s;
    }

    /* Admin */
    .sidebar-list {
        padding: 1rem;
    }
    .sidebar-list--item {
        padding: 0.5rem 0.75rem;
        border-radius: 8px;
        cursor: pointer;
    }
    .sidebar-list--item:hover {
        background-color: var(--border);
        transition: all 0.2s ease-in-out;
    }
}
