.projectlist-nav {
    flex-wrap: wrap;
}
.projectlist-nav th {
    padding: 1.5rem 1rem;
    text-align: left;
}
.projectlist-content {
    flex-direction: column;
    color: azure;
}
.projectlist-classify {
    width: 12%;
    padding: 1rem 0.5rem;
}
